<!-- start Footer Wrapper -->
<div class="c-footer footer-wrapper scrollspy-footer">
  <div class="overflow-hidden">
    <div class="instagram-wrapper">
      <div id="instagram_long" class="instagram-long"></div>
    </div>
  </div>
  <footer class="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="footer-logo">
            <a href="#home">
              <img src="~/images/logo-white.png" alt="Image" />
            </a>
          </div>
          <p class="about-us-footer">Опис сайту в деталях...<a href="#" class="font-italic">читати далі</a></p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9">
          <div class="pl-wrapper">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-10">
                <div class="newsletter-footer">
                  <form action="#" method="post" class="">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Введіть адресу електронної пошти, щоб отримувати новини...">
                      <input type="submit" class="btn btn-submit" value="Підписатися">
                    </div>
                  </form>
                </div>
              </div>
              <div class="clear"></div>
              <div class="col-xss-12 col-xs-4 col-sm-4 col-md-4 mb-10-xss">
                <h4 class="footer-title">Компанії</h4>
                <ul class="menu-footer clearfix">
                  <li><a href="#">About</a></li>
                  <li><a href="#">Careers</a></li>
                  <li><a href="#">Press</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Help</a></li>
                  <li><a href="#">Policies</a></li>
                  <li><a href="#">Terms</a></li>
                  <li><a href="#">Disaster Response</a></li>
                </ul>
              </div>
              <div class="col-xss-12 col-xs-4 col-sm-4 col-md-4 mb-10-xss">
                <h4 class="footer-title">Відкриття</h4>
                <ul class="menu-footer clearfix">
                  <li><a href="#">About</a></li>
                  <li><a href="#">Careers</a></li>
                  <li><a href="#">Press</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Help</a></li>
                  <li><a href="#">Policies</a></li>
                  <li><a href="#">Terms</a></li>
                  <li><a href="#">Disaster Response</a></li>
                </ul>
              </div>
              <div class="col-xss-12 col-xs-4 col-sm-4 col-md-4 mb-10-xss">
                <h4 class="footer-title">Хостинг</h4>
                <ul class="menu-footer clearfix">
                  <li><a href="#">About</a></li>
                  <li><a href="#">Careers</a></li>
                  <li><a href="#">Press</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Help</a></li>
                  <li><a href="#">Policies</a></li>
                  <li><a href="#">Terms</a></li>
                  <li><a href="#">Disaster Response</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <footer class="secondary-footer">
    <div class="container">
      <h6>Приєднуйтесь до нас на</h6>
      <ul class="social-footer clearfix">
        <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus "></i></a></li>
        <li><a href="#"><i class="fa fa-codepen"></i></a></li>
        <li><a href="#"><i class="fa fa-behance"></i></a></li>
        <li><a href="#"><i class="fa fa-github"></i></a></li>
        <li><a href="#"><i class="fa fa-jsfiddle"></i></a></li>
        <li><a href="#"><i class="fa fa-stack-overflow"></i></a></li>
      </ul>
      <p class="copy-right">&#169; Всі права захищені 2016 crenoveative.con</p>
    </div>
  </footer>
</div>
<!-- end Footer Wrapper -->
