@model IEnumerable<FlexTemplate.Entities.Category>

<div class="c-categories container admin">
	@{
	  if (Model != null)
	  {
		<h2>Категорія <span>@Model.First().Name</span></h2>
		<div class="alias">
	    @foreach (var alias in @Model.First().Aliases)
	    {
	    	<input type="text" id="Text" value="@alias.Text">
	    	@alias.Language.ShortName
	    }
		</div>
	  }
	}
</div>
