@model IEnumerable<FlexTemplate.Entities.UserRole>


<div class="c-user-roles container admin">
	<h2>Роль користувача <span>@Model.First().Name</span></h2>
	<div class="alias">
    @{
      if (Model != null)
      {
      }
    }
	</div>
</div>