@model FlexTemplate.ViewModels.SearchViewModel
<!-- start hero-header -->
<div class="c-search hero alt-height" style="background-image:url('@Model.PhotoPath');">
  <div class="container">
    <h1>Знайдіть найкращі ресторани за привабливою ціною!</h1>
    <p>Більш ніж 5000 ресторанів по всій Україні</p>
    <div class="home-search-form">
      <form>
        <div class="form-group location-form">
          <input type="text" class="form-control" placeholder="Where would you like to eat?">
        </div>
        <div class="form-group">
          <select class="custom-select" id="cuisine-type">
          @{
            if (Model != null)
            {
              for (int i = 0; i < Model.CategoriesNames.Count; i++)
              {
                <option value="@i">@Model.CategoriesNames[i]</option>
              }
            }
          }
          </select>
        </div>
        <!--<div class="form-group">
          <select class="custom-select" id="no-of-people">
            <option value="0">Number Of People</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
        </div>-->
        <button class="btn btn-primary btn-form">Знайти</button>
      </form>
      <div class="clear"></div>
      <p class="around-you"><a href="#">Або погляньте на інші 128 ресторанів вашого міста</a></p>
    </div>
  </div>
</div>
<!-- end hero-header -->
