<!-- start slick hero slider -->
<div class="slick-hero-slider-wrapper alt-height text-center with-search-form" style="margin-top: -25px;">

    <div class="slider slick-hero-slider slick-slider-center-mode slick-animation">

        <div class="slick-item">

            <div class="image-bg" style="background-image:url('images/hero-header-slider/01.jpg');">

                <div class="container">

                    <div class="row">

                        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

                            <div class="slick-hero-slider-caption">
                                <h2 class="animation fromBottom transitionDelay2 transitionDuration4">Hero Banner Slider By Slick <span class="block"><span class="bg-primary">Slider Caption # One</span></span></h2>
                                <p class="animation fromBottom transitionDelay4 transitionDuration6">Yet joy exquisite put sometimes enjoyment perpetual now. Behind lovers eat having length horses vanity say had its.</p>
                                <a href="#" class="animation fromBottom transitionDelay6 transitionDuration8"><span class="">More Details</span></a>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="slick-item">
            <div class="image-bg" style="background-image:url('images/hero-header-slider/02.jpg');">

                <div class="container">

                    <div class="row">

                        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

                            <div class="slick-hero-slider-caption">
                                <h2 class="animation fromBottom transitionDelay2 transitionDuration4">Hero Banner Slider By Slick <span class="block"><span class="bg-primary">Slider Caption # Two</span></span></h2>
                                <p class="animation fromBottom transitionDelay4 transitionDuration6">Yet joy exquisite put sometimes enjoyment perpetual now. Behind lovers eat having length horses vanity say had its.</p>
                                <a href="#" class="animation fromBottom transitionDelay6 transitionDuration8"><span class="">More Details</span></a>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>

        <div class="slick-item">
            <div class="image-bg" style="background-image:url('images/hero-header-slider/03.jpg');">

                <div class="container">

                    <div class="row">

                        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

                            <div class="slick-hero-slider-caption">
                                <h2 class="animation fromBottom transitionDelay2 transitionDuration4">Hero Banner Slider By Slick <span class="block"><span class="bg-primary">Slider Caption # Three</span></span></h2>
                                <p class="animation fromBottom transitionDelay4 transitionDuration6">Yet joy exquisite put sometimes enjoyment perpetual now. Behind lovers eat having length horses vanity say had its.</p>
                                <a href="#" class="animation fromBottom transitionDelay6 transitionDuration8"><span class="">More Details</span></a>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>

    <div class="home-search-form home-search-form-center">

        <div class="home-search-form-inner">

            <form>

                <div class="form-group location-form">
                    <input type="text" class="form-control" placeholder="Where would you like to eat?">
                </div>

                <div class="form-group">
                    <select class="custom-select" id="cuisine-type">
                        <option value="0">Cuisine Type</option>
                        <option value="1">African</option>
                        <option value="2">American‎</option>
                        <option value="3">Italian</option>
                        <option value="4">French</option>
                        <option value="5">Indochinese‎</option>
                        <option value="6">Halal</option>
                    </select>
                </div>

                <div class="form-group">
                    <select class="custom-select" id="no-of-people">
                        <option value="0">Number Of People</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>

                <button class="btn btn-primary btn-form">Find a Table</button>

            </form>

            <div class="clear"></div>

            <p class="around-you"><a href="#">Or view all 360 restaurants in and/or around your current city</a></p>

        </div>

    </div>

</div>
<!-- end slick hero slider -->