<section class="c-this-city-places bg-white">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="section-title-02">
          <h3><span>Featured Restaurants in Your City</span></h3>
          <p>Hand-Picked Restaurants with Exclusive Menus across Bangkok</p>
        </div>
      </div>
    </div>
    <div class="restaurant-grid-wrapper mb-30">
      <div class="GridLex-gap-30 GridLex-gap-20-mdd">
        <div class="GridLex-grid-noGutter-equalHeight GridLex-grid-center">
          <div class="GridLex-col-3_sm-4_xs-6_xss-12">
            <div class="restaurant-grid-item">
              <a href="#">
                <div class="image">
                  <img src="~/images/restaurant/01.jpg" alt="Image" />
                </div>
                <div class="content">
                  <h5>The Smokin' Pug</h5>
                  <p class="location"><i class="fa fa-map-marker"></i> 88 Thanon Surawong, Si Phraya, Bang Rak </p>
                  <div class="rating-wrapper">
                    <div class="rating-item">
                      <input type="hidden" class="rating" data-filled="oi oi-star" data-empty="oi oi-star" data-fractions="2" data-readonly value="3.5" />
                    </div>
                    <span class="texting"> (27 reviews)</span>
                  </div>
                  <p class="cuisine">Cuisine: <span>Italian</span> <span>Seafood</span> <span>Bistro</span></p>
                </div>
              </a>
            </div>
          </div>
          <div class="GridLex-col-3_sm-4_xs-6_xss-12">
            <div class="restaurant-grid-item">
              <a href="#">
                <div class="image">
                  <img src="~/images/restaurant/02.jpg" alt="Image" />
                </div>
                <div class="content">
                  <h5>J'AIME by Jean-Michel Lorain</h5>
                  <p class="location"><i class="fa fa-map-marker"></i> 105 Soi Sathon 1, Thung Maha Mek, Sathon</p>
                  <div class="rating-wrapper">
                    <div class="rating-item">
                      <input type="hidden" class="rating" data-filled="oi oi-star" data-empty="oi oi-star" data-fractions="2" data-readonly value="4.5" />
                    </div>
                    <span class="texting"> (43 reviews)</span>
                  </div>
                  <p class="cuisine">Cuisine: <span>Western</span> <span>French</span></p>
                </div>
              </a>
            </div>
          </div>
          <div class="GridLex-col-3_sm-4_xs-6_xss-12">
            <div class="restaurant-grid-item">
              <a href="#">
                <div class="image">
                  <img src="~/images/restaurant/03.jpg" alt="Image" />
                </div>
                <div class="content">
                  <h5>DID - Dine in the Dark </h5>
                  <p class="location"><i class="fa fa-map-marker"></i> 250 Sukhumvit Rd, Bangkok</p>
                  <div class="rating-wrapper">
                    <div class="rating-item">
                      <input type="hidden" class="rating" data-filled="oi oi-star" data-empty="oi oi-star" data-fractions="2" data-readonly value="4.0" />
                    </div>
                    <span class="texting"> (65 reviews)</span>
                  </div>
                  <p class="cuisine">Cuisine: <span>Italian</span> <span>Seafood</span> <span>Bistro</span></p>
                </div>
              </a>
            </div>
          </div>
          <div class="GridLex-col-3_sm-4_xs-6_xss-12">
            <div class="restaurant-grid-item">
              <a href="#">
                <div class="image">
                  <img src="~/images/restaurant/04.jpg" alt="Image" />
                </div>
                <div class="content">
                  <h5>JP French Restaurant </h5>
                  <p class="location"><i class="fa fa-map-marker"></i> 59/1 sukhumvit soi 31(soi sawadee), Bangkok</p>
                  <div class="rating-wrapper">
                    <div class="rating-item">
                      <input type="hidden" class="rating" data-filled="oi oi-star" data-empty="oi oi-star" data-fractions="2" data-readonly value="5.0" />
                    </div>
                    <span class="texting"> (143 reviews)</span>
                  </div>
                  <p class="cuisine">Cuisine: <span>Italian</span> <span>Seafood</span> <span>Bistro</span></p>
                </div>
              </a>
            </div>
          </div>
          <div class="GridLex-col-3_sm-4_xs-6_xss-12">
            <div class="restaurant-grid-item">
              <a href="#">
                <div class="image">
                  <img src="~/images/restaurant/08.jpg" alt="Image" />
                </div>
                <div class="content">
                  <h5>Le Normandie</h5>
                  <p class="location"><i class="fa fa-map-marker"></i> 48, Oriental Ave, Bang Rak,</p>
                  <div class="rating-wrapper">
                    <div class="rating-item">
                      <input type="hidden" class="rating" data-filled="oi oi-star" data-empty="oi oi-star" data-fractions="2" data-readonly value="3.0" />
                    </div>
                    <span class="texting"> (32 reviews)</span>
                  </div>
                  <p class="cuisine">Cuisine: <span>Italian</span> <span>Seafood</span> <span>Bistro</span></p>
                </div>
              </a>
            </div>
          </div>
          <div class="GridLex-col-3_sm-4_xs-6_xss-12">
            <div class="restaurant-grid-item">
              <a href="#">
                <div class="image">
                  <img src="~/images/restaurant/06.jpg" alt="Image" />
                </div>
                <div class="content">
                  <h5>J'AIME by Jean-Michel Lorain</h5>
                  <p class="location"><i class="fa fa-map-marker"></i> 105 Soi Sathon 1, Thung Maha Mek, Sathon</p>
                  <div class="rating-wrapper">
                    <div class="rating-item">
                      <input type="hidden" class="rating" data-filled="oi oi-star" data-empty="oi oi-star" data-fractions="2" data-readonly value="4.0" />
                    </div>
                    <span class="texting"> (65 reviews)</span>
                  </div>
                  <p class="cuisine">Cuisine: <span>Italian</span> <span>Seafood</span> <span>Bistro</span></p>
                </div>
              </a>
            </div>
          </div>
          <div class="GridLex-col-3_sm-4_xs-6_xss-12">
            <div class="restaurant-grid-item">
              <a href="#">
                <div class="image">
                  <img src="~/images/restaurant/07.jpg" alt="Image" />
                </div>
                <div class="content">
                  <h5>Le Beaulieu</h5>
                  <p class="location"><i class="fa fa-map-marker"></i> 63 Thanon Witthayu, Lumphini, Pathum Wan</p>
                  <div class="rating-wrapper">
                    <div class="rating-item">
                      <input type="hidden" class="rating" data-filled="oi oi-star" data-empty="oi oi-star" data-fractions="2" data-readonly value="3.5" />
                    </div>
                    <span class="texting"> (43 reviews)</span>
                  </div>
                  <p class="cuisine">Cuisine: <span>Italian</span> <span>Seafood</span> <span>Bistro</span></p>
                </div>
              </a>
            </div>
          </div>
          <div class="GridLex-col-3_sm-4_xs-6_xss-12">
            <div class="restaurant-grid-item">
              <a href="#">
                <div class="image">
                  <img src="~/images/restaurant/08.jpg" alt="Image" />
                </div>
                <div class="content">
                  <h5>Waterside Resort Restaurant</h5>
                  <p class="location"><i class="fa fa-map-marker"></i> Soi Pradit Manutham, Nawamin, Bueng Kum</p>
                  <div class="rating-wrapper">
                    <div class="rating-item">
                      <input type="hidden" class="rating" data-filled="oi oi-star" data-empty="oi oi-star" data-fractions="2" data-readonly value="4.0" />
                    </div>
                    <span class="texting"> (65 reviews)</span>
                  </div>
                  <p class="cuisine">Cuisine: <span>Italian</span> <span>Seafood</span> <span>Bistro</span></p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <a href="#" class="btn btn-primary">More Restaurants</a>
    </div>
  </div>
</section>