<section class="c-capabilities">
  <div class="container">
    <div class="GridLex-gap-30 GridLex-gap-20-mdd">
      <div class="GridLex-grid-noGutter-equalHeight">
        <div class="GridLex-col-3_sm-3_xs-6_xss-12">
          <div class="featured-icon">
            <div class="icon text-primary">
              <i class="ti-location-pin"></i>
            </div>
            <h5>знайти те, що ви хочете</h5> Виберіть один з більш ніж 10000 ресторанів, з надійними відгуками
          </div>
        </div>
        <div class="GridLex-col-3_sm-3_xs-6_xss-12">
          <div class="featured-icon">
            <div class="icon text-primary">
              <i class="ti-timer"></i>
            </div>
            <h5>ресторан повний?</h5> Забронюйте онлайн безкоштовно, вам не потрібно телефонувати в ресторан
          </div>
        </div>
        <div class="GridLex-col-3_sm-3_xs-6_xss-12">
          <div class="featured-icon">
            <div class="icon text-primary">
              <i class="ti-comments-smiley"></i>
            </div>
            <h5>попросити рахунок з посмішкою</h5> Отримуйте до 50% від рахунку в ресторанах, що беруть участь
          </div>
        </div>
        <div class="GridLex-col-3_sm-3_xs-6_xss-12">
          <div class="featured-icon">
            <div class="icon text-primary">
              <i class="ti-tag"></i>
            </div>
            <h5>відзначити заклад</h5> Заробити бали для кожного замовлення, а також отримати знижку лояльності
          </div>
        </div>
      </div>
    </div>
  </div>
</section>