<!-- start hero-header -->
<div id="kb" class="carousel kb_elastic kb_wrapper hero-kb_elastic hero-kb_elastic-alt-height" data-ride="carousel" data-interval="4000" data-pause="false">

    <div class="carousel-inner" role="listbox">

        <div class="item active img-bg" style="background-image:url('images/hero-header-slider/01.jpg');">
        </div>

        <div class="item img-bg" style="background-image:url('images/hero-header-slider/02.jpg');">
        </div>

        <div class="item img-bg" style="background-image:url('images/hero-header-slider/03.jpg');">
        </div>

        <div class="kb_overlay"></div>

    </div>

    <div class="hero-kb_elastic-inner">

        <div class="container">

            <h1>Find the best restaurants at the best price</h1>
            <p>More than 20,000 restaurants all around the world and in your country or city</p>

            <div class="home-search-form mt-20-xs">

                <form>

                    <div class="form-group location-form">
                        <input type="text" class="form-control" placeholder="Where would you like to eat?">
                    </div>

                    <div class="form-group">
                        <select class="custom-select" id="cuisine-type">
                            <option value="0">Cuisine Type</option>
                            <option value="1">African</option>
                            <option value="2">American‎</option>
                            <option value="3">Italian</option>
                            <option value="4">French</option>
                            <option value="5">Indochinese‎</option>
                            <option value="6">Halal</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <select class="custom-select" id="no-of-people">
                            <option value="0">Number Of People</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                    </div>

                    <button class="btn btn-primary btn-form">Find a Table</button>

                </form>

                <div class="clear"></div>

                <p class="around-you"><a href="#">Or view all 360 restaurants in and/or around your current city</a></p>

            </div>

        </div>

    </div>

</div> 
<!-- end hero-header -->