<section class="c-capabilities">
  <div class="container">
    <div class="GridLex-gap-30 GridLex-gap-20-mdd">
      <div class="GridLex-grid-noGutter-equalHeight">
        <div class="GridLex-col-3_sm-3_xs-6_xss-12">
          <div class="featured-icon">
            <div class="icon text-primary">
              <i class="ti-location-pin"></i>
            </div>
            <h5>find what you want</h5> Choose from over 10,000+ restaurants, with reliable reviews
          </div>
        </div>
        <div class="GridLex-col-3_sm-3_xs-6_xss-12">
          <div class="featured-icon">
            <div class="icon text-primary">
              <i class="ti-timer"></i>
            </div>
            <h5>the restaurant is full?</h5> Book online for free, you don't need to call the restaurant
          </div>
        </div>
        <div class="GridLex-col-3_sm-3_xs-6_xss-12">
          <div class="featured-icon">
            <div class="icon text-primary">
              <i class="ti-comments-smiley"></i>
            </div>
            <h5>ask for the bill with a smile</h5> Enjoy up to 50% off the bill in participating restaurants
          </div>
        </div>
        <div class="GridLex-col-3_sm-3_xs-6_xss-12">
          <div class="featured-icon">
            <div class="icon text-primary">
              <i class="ti-tag"></i>
            </div>
            <h5>thefork picks up the tab</h5> Earn Yums for each booking, and get a loyalty discount
          </div>
        </div>
      </div>
    </div>
  </div>
</section>