@model FlexTemplate.Entities.Category
@if (Model != null)
{
<div class="category" dataId="@Model.Id">
    <h3><span>Категорія</span> <input id="categoryName" class="form-control" type="text" value="@Model.Name"></h3>
    <div class="aliases">
        <div class="buttons">
            <button class="btn btn-primary btn-form admin-button-add-alias">Add alias</button>
            <button class="btn btn-primary btn-form admin-button-category-save">Save</button>
        </div>
    </div>
    <button class="btn btn-primary btn-form admin-button admin-button-remove-category">Remove category</button>
</div>
}