<!-- start slick hero slider -->
<div class="slick-hero-slider-wrapper alt-height with-search-form" contenteditable="true">

    <div class="slider slick-hero-slider slick-slider-center-mode slick-animation">

        <div class="slick-item">

            <div class="image-bg" style="background-image:url('images/hero-header-slider/01.jpg');">

                <div class="container">

                    <div class="row">

                        <div class="col-xs-12 col-sm-9 col-md-7">

                            <div class="slick-hero-slider-caption">
                                <h2 class="animation fromBottom transitionDelay2 transitionDuration4">Заголовок до слайду<span class="block"><span class="bg-primary">Слайд 1</span></span></h2>
                                <p class="animation fromBottom transitionDelay4 transitionDuration6">Опис до слайду</p>
                                <a href="#" class="animation fromBottom transitionDelay6 transitionDuration8"><span class="">Детальніше</span></a>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="slick-item">
            <div class="image-bg" style="background-image:url('images/hero-header-slider/02.jpg');">

                <div class="container">

                    <div class="row">

                        <div class="col-xs-12 col-sm-9 col-md-7">

                            <div class="slick-hero-slider-caption">
                                <h2 class="animation fromBottom transitionDelay2 transitionDuration4">Заголовок до слайду<span class="block"><span class="bg-primary">Слайд 2</span></span></h2>
                                <p class="animation fromBottom transitionDelay4 transitionDuration6">Опис до слайду</p>
                                <a href="#" class="animation fromBottom transitionDelay6 transitionDuration8"><span class="">Детальніше</span></a>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>

        <div class="slick-item">
            <div class="image-bg" style="background-image:url('images/hero-header-slider/03.jpg');">

                <div class="container">

                    <div class="row">

                        <div class="col-xs-12 col-sm-9 col-md-7">

                            <div class="slick-hero-slider-caption">
                                <h2 class="animation fromBottom transitionDelay2 transitionDuration4">Заголовок до слайду<span class="block"><span class="bg-primary">Слайд 3</span></span></h2>
                                <p class="animation fromBottom transitionDelay4 transitionDuration6">Опис до слайду</p>
                                <a href="#" class="animation fromBottom transitionDelay6 transitionDuration8"><span class="">Детальніше</span></a>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>

    <div class="home-search-form">

        <form>

            <div class="form-group location-form">
                <input type="text" class="form-control" placeholder="Де б ви хотіли поїсти?">
            </div>

            <div class="form-group">
                <select class="custom-select" id="cuisine-type">
                    <option value="0">Тип кухні</option>
                    <option value="1">Африканська</option>
                    <option value="2">Американська‎</option>
                    <option value="3">Італійська</option>
                    <option value="4">Француська</option>
                    <option value="5">Індокитайська‎</option>
                    <option value="6">Халяль</option>
                </select>
            </div>

            <div class="form-group">
                <select class="custom-select" id="no-of-people">
                    <option value="0">Кількість людей</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </div>

            <button class="btn btn-primary btn-form">Знайти стіл</button>

        </form>

        <div class="clear"></div>

        <p class="around-you"><a href="#">Або переглянути всі 360 ресторанів навколо вашого поточного міста</a></p>

    </div>

</div>
<!-- end slick hero slider -->