@model FlexTemplate.PresentationLayer.WebServices.Components.Header.ViewModel
<!-- start Header -->
<header id="header">
    <!-- start Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-sticky">
        <div class="header-inner navbar-default navbar-sticky">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand hidden-xs" asp-controller="Home" asp-action="Index"><img src="../../images/logo.png" alt="Image" /></a>
                    <a class="navbar-brand visible-xs" asp-controller="Home" asp-action="Index"><img src="../../images/logo-xs.png" alt="Image" /></a>
                </div>
                <div id="navbar" class="collapse navbar-collapse navbar-arrow pull-left">
                    <ul class="nav navbar-nav" id="responsive-menu">
                        <li><a asp-controller="Home" asp-action="Index">Головна</a></li>
                        <li><a asp-controller="Home" asp-action="Places">Ресторани</a></li>
                        <li><a asp-controller="Home" asp-action="Blogs">Блоги</a></li>
                        <li>
                            <a>Додати(Тест)</a>
                            <ul style="display: none">
                                <li><a asp-controller="Home" asp-action="NewBlog">Блог</a></li>
                                <li><a asp-controller="Home" asp-action="NewPlace">Заклад</a></li>
                            </ul>
                        </li>
                        <li>
                            <a>Увійти(Тест)</a>
                            <ul style="display: none">
                                <li><a asp-controller="Login" asp-action="LoginAsAdmin">Як адміністратор</a></li>
                                <li><a asp-controller="Login" asp-action="LoginAsGuest">Як користувач</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
                <div class="pull-right">
                    <div class="navbar-mini">
                        <ul class="clearfix">
                            <li class="dropdown bt-dropdown-click">
                                <a id="currency-dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="ion-social-usd"></i> Долари
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="currency-dropdown">
                                    <li><a href="#"><i class="ion-social-usd"></i> Долари</a></li>
                                    <li><a href="#"><i class="ion-social-euro"></i> Євро</a></li>
                                    <li><a href="#"><i class="ion-social-yen"></i> Iєна</a></li>
                                </ul>
                            </li>
                            <li class="dropdown bt-dropdown-click">
                                <a id="language-dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="ion-android-globe"></i> @Model.CurrentLanguageName
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="language-dropdown">
                                    @foreach (var lang in Model.Languages)
                                    {
                                        <li><a asp-controller="Home" asp-action="ChangeUserLanguage" asp-route-redirect = @(Context.Request.Host + Context.Request.Path) asp-route-languageId=@lang.Key>@lang.Value</a></li>
                                    }
                                </ul>
                            </li>
                            @if (Model.IsLogined)
                            {
                                <li>
                                    @Model.UserName
                                </li>
                            }
                            <li class="user-action">
                                <a href="javascript:void(0)" class="btn btn-primary btn-inverse btn-sm btn-ajax-login" data-toggle="modal">Зареєструватися/Увійти</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="slicknav-mobile"></div>
    </nav>
    <!-- end Navbar -->
</header>
<!-- end Header -->