@model FlexTemplate.ViewModels.HomeController.ThisCityPlacesViewModel
@if (Model != null)
{
    <section class="c-this-city-places bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="section-title-02">
                        <h3>@Html.Raw(Model.Strings["TitleLabelCaption"])</h3>
                        @Html.Raw(Model.Strings["SubtitleLabelCaption"])
                    </div>
                </div>
            </div>
            <div class="restaurant-grid-wrapper mb-30">
                <div class="GridLex-gap-30 GridLex-gap-20-mdd">
                    <div class="GridLex-grid-noGutter-equalHeight GridLex-grid-center">
                        @foreach (var placeId in Model.ThisCityPlaceIds)
                        {
                            @await Component.InvokeAsync("ThisCityPlace", new {id = placeId});
                        }
                    </div>
                    <div class="text-center">
                        @Html.Raw(Model.Strings["MorePlacesButtonCaption"])
                    </div>
                </div>
            </div>
        </div>
    </section>
}
