@model FlexTemplate.PresentationLayer.WebServices.Components.OtherCityPlaces.ViewModel
<div class="GridLex-col-3_sm-6_xs-6_xss-12">
    <div class="destination-grid-item-02">
        <a asp-controller="Home" asp-action="Places" asp-route-cities="@Model.CityId">
            <div class="image">
                <img src=@Model.PhotoPath alt="Hot Item">
            </div>
            <div class="content">
                <h4><span>@Model.CityName</span></h4>
                <span>@Model.PlacesCount @Model.PlaceDescriptor</span>
            </div>
        </a>
    </div>
</div>