@model FlexTemplate.ViewModels.HomeController.OtherCityPlacesViewModel
<div class="GridLex-col-3_sm-6_xs-6_xss-12">
    <div class="destination-grid-item-02">
        <a href="@Url.Action("Places", "Home", new {cities = new int[]{Model.CityId}})">
            <div class="image">
                <img src=@Model.PhotoPath alt="Hot Item">
            </div>
            <div class="content">
                <h4><span>@Model.CityName</span></h4>
                <span>@Model.PlacesCount @Model.PlaceDescriptor</span>
            </div>
        </a>
    </div>
</div>