@model FlexTemplate.PresentationLayer.WebServices.Home.Index.ViewModel
<div class="main-wrapper scrollspy-container">
  @foreach(var container in Model.Hierarchy.Containers)
  {
    @await Component.InvokeAsync(container.ContainerName, new { templateName = container.ContainerTemplateName})
  }
</div>