@model FlexTemplate.ViewModels.HomeController.ThisPlaceReviewViewModel
<li class="clearfix">

    <div class="review-man">

        <div class="image">

            <img src="../../Resources/User/@(Model.Review.User.Id).jpg" onerror="this.onerror = null; this.src = '../../Resources/Defaults/user.jpg';" alt="images" />

        </div>

        <h6>@Model.Review.User.Name @Model.Review.User.Surname</h6> 

    </div>

    <div class="review-content">

        <div class="review-arrow">
            <span></span>
        </div>

        <div class="meta-top">

            <div class="progress-radial progress-radial-sm progress-80">
                <div class="overlay">
                    <div class="progress-radial-inner">
                        <div class="caption">

                            <p class="number">@Model.Review.Star</p>

                        </div>
                    </div>
                </div>
            </div>

            розглянуті на Jan 16, 2016

        </div>

        <div class="review-entry">
            <p>@Model.Review.Text</p>
        </div>

        <!--<div class="meta-bottom">

            <ul class="review-score-list clearfix">
                <li>Food: 7</li>
                <li>Service: 6</li>
                <li>Recommend: 8</li>
                <li>Worth: 9</li>
            </ul>

            <ul class="review-useful clearfix">
                <li><span>Was this review helpful? </span></li>
                <li class="the-label rated"><a href="#"><i class="fa fa-thumbs-up"></i></a> 2</li>
                <li class="the-label"><a href="#"><i class="fa fa-thumbs-down"></i></a> 0</li>
                <li class="for-report"><a href="#"><i class="fa fa-flag"></i></a></li>
            </ul>


        </div>-->

    </div>

</li>