@using System.ComponentModel

<!-- start Main Wrapper -->
<div class="main-wrapper scrollspy-container">

  @await Component.InvokeAsync("Search")

  @await Component.InvokeAsync("OtherCitiesPlaces")

  @await Component.InvokeAsync("ThisCityPlaces")

  @await Component.InvokeAsync("Capabilities")

  @await Component.InvokeAsync("Suggestions")

</div>

<!-- end Main Wrapper -->