@using System.ComponentModel
@model FlexTemplate.ViewModels.HomeIndexViewModel
<!-- start Main Wrapper -->
<div class="main-wrapper scrollspy-container">
  @foreach(var container in Model.Containers)
  {
    @await Component.InvokeAsync(container.Key, container.Value)
  }
</div>

<!-- end Main Wrapper -->