@model FlexTemplate.ViewModels.HomeController.NewBlogViewModel
<!-- start Main Wrapper -->
<div class="main-wrapper scrollspy-container">
    <!-- start hero-header -->
    <div class="hero hero-breadcrumb" style="background-image:url('../../images/hero-header/03.jpg');">
        <div class="container">
            <h1>Додати блог</h1>
            <p>Додати блог</p>
        </div>
    </div>
    <div class="container pt-10 pb-30">
        <div class="breadcrumb-wrapper">
            <ol class="breadcrumb">
                <li><a asp-action="Index">Головна</a></li>
                <li class="active">Додати блог</li>
            </ol>
        </div>
        <div class="row mt-40 mb-30">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <div class="submite-list-wrapper">
                    <form method="post" enctype="multipart/form-data" id="new-blog-form">
                        <!--Main info-->
                        <div class="submite-list-box">
                            <div class="row ga-20">
                                <div class="col-xs-12 col-sm-12">
                                    <div class="form-group form-group-lg">
                                        <label>Назва блогу:</label>
                                        <input type="text" class="form-control required" name="Name" />
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12">
                                    <div class="form-group bootstrap3-wysihtml5-wrapper">
                                        <label>Текст 1</label>
                                        <textarea name="Preamble" class="bootstrap3-wysihtml5 form-control" placeholder="Введіть текст ..." style="height: 200px;"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End Main info-->
                        <!--Фотографії-->
                        <div class="row">
                            <div class="col-md-8">
                                <div class="section-title-02 mb-20">
                                    <h3><span>Фотографії</span></h3>
                                    <p>Підніміть свої проекти на якісно новий рівень.</p>
                                </div>
                            </div>
                        </div>
                        @{ var uid = Guid.NewGuid().ToString();}
                        <div class="submite-list-box">
                            <div id="blog-head-update" class="dropzone">
                                <input type="file">
                                <input class="file_descriptor" type="hidden" value="@uid" />
                                <div class="dz-default dz-message"><span>Головна фотографія</span></div>
                            </div>
                            <div id="blog-banner-update" class="dropzone">
                                <input type="file">
                                <input class="file_descriptor" type="hidden" value="@uid" />
                                <div class="dz-default dz-message"><span>Баннер</span></div>
                            </div>
                            <div id="new-blog" class="dropzone">
                                <input name="files" type="file" multiple>
                                <input class="file_descriptor" type="hidden" name="uid" value="@uid" />
                                <div class="dz-default dz-message"><span>Фотографії галереї</span></div>
                            </div>
                        </div>
                        <!--End Фотографії-->
                        <div class="col-xs-12 col-sm-12">
                            <div class="form-group bootstrap3-wysihtml5-wrapper">
                                <label>Текст 2:</label>
                                <textarea name="Text" class="bootstrap3-wysihtml5 form-control" placeholder="Введіть текст ..." style="height: 200px;"></textarea>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <div class="form-group">
                                <label>Tags</label>
                                <input type="text" class="form-control" id="autocompleteTagging" value="" name="Tags" placeholder="Теги.." />
                            </div>
                        </div>
                        <!--Submit-->
                        <input type="submit" class="btn btn-primary mt-15" value="Відправити" />
                        <!--End Submit-->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end Main Wrapper -->