@model FlexTemplate.ViewModels.HomeController.HomePlacesViewModel
<!-- start Main Wrapper -->
<div class="main-wrapper scrollspy-container">
    <form asp-action="Places">
        <!-- start hero-header -->
        <div class="hero hero-sm" style="background-image:url('../../images/hero-header/02.jpg');">
            <div class="container">

                <div class="home-search-form">

                    <div class="form-group location-form">
                        <input name="input" type="text" class="form-control" placeholder="@Model.Input">
                    </div>

                    <button class="btn btn-primary btn-form">Знайти</button>

                </div>

            </div>

        </div>
        <!-- end hero-header -->

        <div class="container pt-10 pb-30">

            <div class="breadcrumb-wrapper">
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Головна</a></li>
                    <li><a href="@Url.Action("Places", "Home")" class="active">Ресторани</a></li>
                </ol>
            </div>

            <div class="row mb-10">

                <div class="col-md-8">

                    <div class="section-title-02">

                        <h3><span>Ресторани<small class="ml-10">/ 253 ресторанів</small></span></h3>

                    </div>

                </div>

            </div>

            <div class="row">
                @await Component.InvokeAsync("ThisPlacesFilters", new { cities = Model.Cities, input = Model.Input, categories = Model.Categories })

                @await Component.InvokeAsync("ThisPlacesList", new { cities = Model.Cities, input = Model.Input, categories = Model.Categories })
            </div>

        </div>
    </form>
</div>
<!-- end Main Wrapper -->