<!-- start Main Wrapper -->
<div class="main-wrapper scrollspy-container">

    <!-- start hero-header -->
    <div class="hero hero-detail" style="background-image:url('images/hero-header/detail-hero.jpg');">

        <div class="container">

            <div class="hero-detail-inner">

                <div id="detail-content-sticky-nav-00" class="hero-detail-bottom">

                    <div class="GridLex-grid-bottom">

                        <div class="GridLex-col-8_sm-7_xs-12_xss-12">
                            <div class="detail-header">
                                <div class="detail-header-inner">
                                    <h3>The Smokin' Pug</h3>
                                    <p class="location"><i class="fa fa-map-marker"></i> 88 Thanon Surawong, Si Phraya, Bang Rak </p>
                                    <div class="rating-wrapper">
                                        <div class="rating-item">
                                            <input type="hidden" class="rating" data-filled="oi oi-star" data-empty="oi oi-star" data-fractions="2" data-readonly value="4.0" />
                                        </div>
                                        <span class="texting"> based on 23 reviews &amp; 251 recommendations</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="GridLex-col-4_sm-4_xs-12_xss-12">
                            <div class="text-right text-left-xs">
                                <a href="#" class="fav-like"><i class="fa fa-heart"></i></a>
                                <div class="btn-holder mt-5">
                                    <a href="#detail-content-sticky-nav-01" class="btn btn-primary anchor-alt">See Menu Lists</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="container pt-10 pb-50">

        <div class="breadcrumb-wrapper">

            <ol class="breadcrumb">

                <li><a href="#">Home</a></li>
                <li><a href="#">Result</a></li>
                <li class="active">Restaurant detail</li>

            </ol>

        </div>

        <div class="row">

            <div class="col-xs-12 col-sm-8 col-md-9 mb-30">

                <div class="multiple-sticky for-detail-page">

                    <div class="multiple-sticky-inner">

                        <div class="multiple-sticky-container container">

                            <div class="multiple-sticky-item clearfix">

                                <ul id="top-menu" class="multiple-sticky-nav clearfix">
                                    <li>
                                        <a href="#detail-content-sticky-nav-00">Overview</a>
                                    </li>
                                    <li>
                                        <a href="#detail-content-sticky-nav-01">Menu</a>
                                    </li>
                                    <li>
                                        <a href="#detail-content-sticky-nav-02">Review</a>
                                    </li>
                                    <li>
                                        <a href="#detail-content-sticky-nav-03">Photo</a>
                                    </li>
                                    <li>
                                        <a href="#detail-content-sticky-nav-04">Location</a>
                                    </li>
                                </ul>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="clear mb-40"></div>

                <div class="detail-content-for-sticky-menu for-detail-page">

                    <div class="detail-content-section clearfix">

                        <div class="section-title-02">
                            <h3><span>Overview</span></h3>
                        </div>

                        <p class="font500">Chapter too parties its letters nor. Cheerful but whatever ladyship disposed yet judgment. Lasted answer oppose to ye months no esteem. Branched is on an ecstatic directly it. Put off continue you denoting returned juvenile. Looked person sister result mr to. Replied demands charmed do viewing ye colonel to so. Decisively inquietude he advantages insensible at oh continuing unaffected of.</p>

                        <p>Knowledge nay estimable questions repulsive daughters boy. Solicitude gay way unaffected expression for. His mistress ladyship required off horrible disposed rejoiced. Unpleasing pianoforte unreserved as oh he unpleasant no inquietude insipidity. Advantages can discretion possession add favourable cultivated admiration far. Why rather assure how esteem end hunted nearer and before. By an truth after heard going early given he. Charmed to it excited females whether at examine. Him abilities suffering may are yet dependent.</p>

                        <div class="row">

                            <div class="col-xs-12 col-sm-6 mb-20">

                                <div class="contact-box">

                                    <h5 class="text-primary">Contact Information</h5>

                                    <p>Unfeeling so rapturous discovery he exquisite. Reasonably so middletons or impression by terminated. Old pleasure required removing elegance him had.</p>

                                    <ul class="contact-list">

                                        <li>

                                            <div class="icon">
                                                <i class="ti-home"></i>
                                            </div>

                                            <div class="content">
                                                <p>324 Yarang Road, T.Chabangtigo, <br />Muanng Pattani 9400 </p>
                                            </div>

                                        </li>

                                        <li>

                                            <div class="icon">
                                                <i class="ti-mobile"></i>
                                            </div>

                                            <div class="content">
                                                <p>+66 28 878 5452 <br />+66 2 547 2223</p>
                                            </div>

                                        </li>

                                        <li>

                                            <div class="icon">
                                                <i class="ti-email"></i>
                                            </div>

                                            <div class="content">
                                                <p>support@youremail.com<br />information@youremail.com</p>
                                            </div>

                                        </li>

                                    </ul>

                                    <a href="#detail-content-sticky-nav-04" class="btn btn-primary btn-sm anchor-alt">See map &amp; get route</a>
                                </div>

                            </div>

                            <div class="col-xs-12 col-sm-6">

                                <div class="open-time-box">

                                    <h5 class="text-primary">Opening Time</h5>

                                    <ul class="open-time-list">

                                        <li>

                                            <div class="row">

                                                <div class="col-xs-6 col-sm-6">
                                                    <span class="day">
                                                        Monday
                                                    </span>
                                                </div>

                                                <div class="col-xs-6 col-sm-6">
                                                    <span class="time">
                                                        10:00 am - 10:00 pm
                                                    </span>
                                                </div>

                                            </div>

                                        </li>

                                        <li>

                                            <div class="row">

                                                <div class="col-xs-6 col-sm-6">
                                                    <span class="day">
                                                        Tuesday
                                                    </span>
                                                </div>

                                                <div class="col-xs-6 col-sm-6">
                                                    <span class="time">
                                                        10:00 am - 10:00 pm
                                                    </span>
                                                </div>

                                            </div>

                                        </li>

                                        <li>

                                            <div class="row">

                                                <div class="col-xs-6 col-sm-6">
                                                    <span class="day">
                                                        Wednesday
                                                    </span>
                                                </div>

                                                <div class="col-xs-6 col-sm-6">
                                                    <span class="time">
                                                        10:00 am - 10:00 pm
                                                    </span>
                                                </div>

                                            </div>

                                        </li>

                                        <li>

                                            <div class="row">

                                                <div class="col-xs-6 col-sm-6">
                                                    <span class="day">
                                                        Thursday
                                                    </span>
                                                </div>

                                                <div class="col-xs-6 col-sm-6">
                                                    <span class="time">
                                                        10:00 am - 10:00 pm
                                                    </span>
                                                </div>

                                            </div>

                                        </li>

                                        <li>

                                            <div class="row">

                                                <div class="col-xs-6 col-sm-6">
                                                    <span class="day">
                                                        Friday
                                                    </span>
                                                </div>

                                                <div class="col-xs-6 col-sm-6">
                                                    <span class="time">
                                                        09:00 am - 12:00 pm
                                                    </span>
                                                </div>

                                            </div>

                                        </li>

                                        <li>

                                            <div class="row">

                                                <div class="col-xs-6 col-sm-6">
                                                    <span class="day">
                                                        Saturday
                                                    </span>
                                                </div>

                                                <div class="col-xs-6 col-sm-6">
                                                    <span class="time">
                                                        09:00 am - 12:00 pm
                                                    </span>
                                                </div>

                                            </div>

                                        </li>

                                        <li class="day-close">

                                            <div class="row">

                                                <div class="col-xs-6 col-sm-6">
                                                    <span class="day">
                                                        Sunday
                                                    </span>
                                                </div>

                                                <div class="col-xs-6 col-sm-6">
                                                    <span class="time text-uppercase font700 spacing-2">
                                                        Close
                                                    </span>
                                                </div>

                                            </div>

                                        </li>

                                    </ul>

                                </div>

                            </div>

                        </div>

                        <h5 class="text-primary">More about J'AIME by Jean-Michel Lorain</h5>

                        <div class="row">

                            <div class="col-xss-12 col-xs-6 col-sm-6 col-md-3 mb-15">
                                <h6 class="mb-5">Good for</h6>
                                <p>- Drink <br>- People watching</p>
                            </div>

                            <div class="col-xss-12 col-xs-6 col-sm-6 col-md-3 mb-15">
                                <h6 class="mb-5">Feature</h6>
                                <p>- Outdoor seating <br>- 47" digital HDTV</p>
                            </div>

                            <div class="col-xss-12 col-xs-6 col-sm-6 col-md-3 mb-15">
                                <h6 class="mb-5">Food &amp; Drink</h6>
                                <p>- Breakfast, Lunch, and Dinner <br>- Take-out</p>
                            </div>

                            <div class="col-xss-12 col-xs-6 col-sm-6 col-md-3 mb-15">
                                <h6 class="mb-5">Higtlight</h6>
                                <p>- Creamy Pasta Carbonara <br>- Dutch Indonesian Chicken</p>
                            </div>

                            <div class="col-xss-12 col-xs-12 col-sm-12 col-md-12 mb-15">
                                <h6 class="mb-5">Payment accepted</h6>
                                <p>- Visa, Master card, American Express, UnionPay</p>
                            </div>

                        </div>

                    </div>

                    <div id="detail-content-sticky-nav-01" class="detail-content-section clearfix">

                        <div class="section-title-02">
                            <h3><span>Menu</span></h3>
                        </div>

                        <div class="panel-group bootstarp-accordion pb-0 mt-0 pb-0 mb-0" id="accordion" role="tablist" aria-multiselectable="true">

                            <div class="panel">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Breakfase</a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">

                                    <div class="panel-body">

                                        <div class="food-menu-wrapper">

                                            <div class="GridLex-gap-30">

                                                <div class="GridLex-grid-noGutter-equalHeight">

                                                    <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                                        <div class="food-menu-item clearfix">

                                                            <div class="image">
                                                                <img src="images/item-sq/01.jpg" alt="image" />
                                                            </div>

                                                            <div class="content">

                                                                <h6><span>Beef Rissoles</span></h6>
                                                                <p>Fat new smallness few supposing suspicion. Own neglected you preferred way sincerity.</p>

                                                                <div class="price">
                                                                    $6.43
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                                        <div class="food-menu-item clearfix">

                                                            <div class="image">
                                                                <img src="images/item-sq/02.jpg" alt="image" />
                                                            </div>

                                                            <div class="content">

                                                                <h6><span>Golden Roast Potatoes</span></h6>
                                                                <p>Own neglected you preferred way sincerity delivered. Message cottage windows do besides.</p>

                                                                <div class="price">
                                                                    $11.54
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                                        <div class="food-menu-item clearfix">

                                                            <div class="image">
                                                                <img src="images/item-sq/03.jpg" alt="image" />
                                                            </div>

                                                            <div class="content">

                                                                <h6><span>Bacon and Beef Pasta Bake</span></h6>
                                                                <p>Meant to learn of vexed if style allow he there. Tiled man stand tears ten joy there terms any widen.</p>

                                                                <div class="price">
                                                                    $8.98
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                                        <div class="food-menu-item clearfix">

                                                            <div class="image">
                                                                <img src="images/item-sq/04.jpg" alt="image" />
                                                            </div>

                                                            <div class="content">

                                                                <h6><span>Satay Chicken or Beef </span></h6>
                                                                <p>Fat new smallness few supposing suspicion. Own neglected you preferred way sincerity</p>

                                                                <div class="price">
                                                                    $6.43
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                                        <div class="food-menu-item clearfix">

                                                            <div class="image">
                                                                <img src="images/item-sq/05.jpg" alt="image" />
                                                            </div>

                                                            <div class="content">

                                                                <h6><span>Dutch Indonesian Chicken</span></h6>
                                                                <p>Own neglected you preferred way sincerity delivered. Message cottage windows do besides against uncivil.</p>

                                                                <div class="price">
                                                                    $11.54
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                                        <div class="food-menu-item clearfix">

                                                            <div class="image">
                                                                <img src="images/item-sq/06.jpg" alt="image" />
                                                            </div>

                                                            <div class="content">

                                                                <h6><span>Creamy Pasta Carbonara</span></h6>
                                                                <p>Meant to learn of vexed if style allow he there. Tiled man stand tears ten joy there terms any widen.</p>

                                                                <div class="price">
                                                                    $8.98
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>
                            <!-- end of panel -->

                            <div class="panel">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Lunch</a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">

                                    <div class="panel-body">

                                        <div class="food-menu-wrapper">

                                            <div class="GridLex-gap-30">

                                                <div class="GridLex-grid-noGutter-equalHeight">

                                                    <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                                        <div class="food-menu-item clearfix">

                                                            <div class="image">
                                                                <img src="images/item-sq/04.jpg" alt="image" />
                                                            </div>

                                                            <div class="content">

                                                                <h6><span>Satay Chicken or Beef </span></h6>
                                                                <p>Fat new smallness few supposing suspicion. Own neglected you preferred way sincerity</p>

                                                                <div class="price">
                                                                    $6.43
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                                        <div class="food-menu-item clearfix">

                                                            <div class="image">
                                                                <img src="images/item-sq/05.jpg" alt="image" />
                                                            </div>

                                                            <div class="content">

                                                                <h6><span>Dutch Indonesian Chicken</span></h6>
                                                                <p>Own neglected you preferred way sincerity delivered. Message cottage windows do besides against uncivil.</p>

                                                                <div class="price">
                                                                    $11.54
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                                        <div class="food-menu-item clearfix">

                                                            <div class="image">
                                                                <img src="images/item-sq/06.jpg" alt="image" />
                                                            </div>

                                                            <div class="content">

                                                                <h6><span>Creamy Pasta Carbonara</span></h6>
                                                                <p>Meant to learn of vexed if style allow he there. Tiled man stand tears ten joy there terms any widen.</p>

                                                                <div class="price">
                                                                    $8.98
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                                        <div class="food-menu-item clearfix">

                                                            <div class="image">
                                                                <img src="images/item-sq/01.jpg" alt="image" />
                                                            </div>

                                                            <div class="content">

                                                                <h6><span>Beef Rissoles</span></h6>
                                                                <p>Fat new smallness few supposing suspicion. Own neglected you preferred way sincerity.</p>

                                                                <div class="price">
                                                                    $6.43
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                                        <div class="food-menu-item clearfix">

                                                            <div class="image">
                                                                <img src="images/item-sq/02.jpg" alt="image" />
                                                            </div>

                                                            <div class="content">

                                                                <h6><span>Golden Roast Potatoes</span></h6>
                                                                <p>Own neglected you preferred way sincerity delivered. Message cottage windows do besides.</p>

                                                                <div class="price">
                                                                    $11.54
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                                        <div class="food-menu-item clearfix">

                                                            <div class="image">
                                                                <img src="images/item-sq/03.jpg" alt="image" />
                                                            </div>

                                                            <div class="content">

                                                                <h6><span>Bacon and Beef Pasta Bake</span></h6>
                                                                <p>Meant to learn of vexed if style allow he there. Tiled man stand tears ten joy there terms any widen.</p>

                                                                <div class="price">
                                                                    $8.98
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>
                            <!-- end of panel -->

                            <div class="panel">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Dinner</a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">

                                    <div class="panel-body">

                                        <div class="food-menu-wrapper">

                                            <div class="GridLex-gap-30">

                                                <div class="GridLex-grid-noGutter-equalHeight">

                                                    <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                                        <div class="food-menu-item no-image clearfix">

                                                            <div class="content">

                                                                <h6><span>Satay Chicken or Beef </span></h6>
                                                                <p>Fat new smallness few supposing suspicion. Own neglected you preferred way sincerity</p>

                                                                <div class="price">
                                                                    $6.43
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                                        <div class="food-menu-item no-image clearfix">

                                                            <div class="content">

                                                                <h6><span>Dutch Indonesian Chicken</span></h6>
                                                                <p>Own neglected you preferred way sincerity delivered. Message cottage windows do besides against uncivil.</p>

                                                                <div class="price">
                                                                    $11.54
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                                        <div class="food-menu-item no-image clearfix">

                                                            <div class="content">

                                                                <h6><span>Creamy Pasta Carbonara</span></h6>
                                                                <p>Meant to learn of vexed if style allow he there. Tiled man stand tears ten joy there terms any widen.</p>

                                                                <div class="price">
                                                                    $8.98
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                                        <div class="food-menu-item no-image clearfix">

                                                            <div class="content">

                                                                <h6><span>Beef Rissoles</span></h6>
                                                                <p>Fat new smallness few supposing suspicion. Own neglected you preferred way sincerity</p>

                                                                <div class="price">
                                                                    $6.43
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                                        <div class="food-menu-item no-image clearfix">

                                                            <div class="content">

                                                                <h6><span>Golden Roast Potatoes</span></h6>
                                                                <p>Own neglected you preferred way sincerity delivered. Message cottage windows do besides against uncivil.</p>

                                                                <div class="price">
                                                                    $11.54
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                                        <div class="food-menu-item no-image clearfix">

                                                            <div class="content">

                                                                <h6><span>Bacon and Beef Pasta Bake</span></h6>
                                                                <p>Meant to learn of vexed if style allow he there. Tiled man stand tears ten joy there terms any widen.</p>

                                                                <div class="price">
                                                                    $8.98
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>
                            <!-- end of panel -->

                            <div class="panel">
                                <div class="panel-heading" role="tab" id="headingFour">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Drinks</a>
                                    </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">

                                    <div class="panel-body">

                                        <div class="food-menu-wrapper">

                                            <div class="GridLex-gap-30">

                                                <div class="GridLex-grid-noGutter-equalHeight">

                                                    <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                                        <div class="food-menu-item clearfix">

                                                            <div class="image">
                                                                <img src="images/item-sq/01.jpg" alt="image" />
                                                            </div>

                                                            <div class="content">

                                                                <h6><span>Beef Rissoles</span></h6>
                                                                <p>Fat new smallness few supposing suspicion. Own neglected you preferred way sincerity.</p>

                                                                <div class="price">
                                                                    $6.43
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                                        <div class="food-menu-item clearfix">

                                                            <div class="image">
                                                                <img src="images/item-sq/02.jpg" alt="image" />
                                                            </div>

                                                            <div class="content">

                                                                <h6><span>Golden Roast Potatoes</span></h6>
                                                                <p>Own neglected you preferred way sincerity delivered. Message cottage windows do besides.</p>

                                                                <div class="price">
                                                                    $11.54
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                                        <div class="food-menu-item clearfix">

                                                            <div class="image">
                                                                <img src="images/item-sq/03.jpg" alt="image" />
                                                            </div>

                                                            <div class="content">

                                                                <h6><span>Bacon and Beef Pasta Bake</span></h6>
                                                                <p>Meant to learn of vexed if style allow he there. Tiled man stand tears ten joy there terms any widen.</p>

                                                                <div class="price">
                                                                    $8.98
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                                        <div class="food-menu-item clearfix">

                                                            <div class="image">
                                                                <img src="images/item-sq/04.jpg" alt="image" />
                                                            </div>

                                                            <div class="content">

                                                                <h6><span>Satay Chicken or Beef </span></h6>
                                                                <p>Fat new smallness few supposing suspicion. Own neglected you preferred way sincerity</p>

                                                                <div class="price">
                                                                    $6.43
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                                        <div class="food-menu-item clearfix">

                                                            <div class="image">
                                                                <img src="images/item-sq/05.jpg" alt="image" />
                                                            </div>

                                                            <div class="content">

                                                                <h6><span>Dutch Indonesian Chicken</span></h6>
                                                                <p>Own neglected you preferred way sincerity delivered. Message cottage windows do besides against uncivil.</p>

                                                                <div class="price">
                                                                    $11.54
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                                        <div class="food-menu-item clearfix">

                                                            <div class="image">
                                                                <img src="images/item-sq/06.jpg" alt="image" />
                                                            </div>

                                                            <div class="content">

                                                                <h6><span>Creamy Pasta Carbonara</span></h6>
                                                                <p>Meant to learn of vexed if style allow he there. Tiled man stand tears ten joy there terms any widen.</p>

                                                                <div class="price">
                                                                    $8.98
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>
                            <!-- end of panel -->

                            <div class="panel">
                                <div class="panel-heading" role="tab" id="headingFive">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">dessert &amp; snack</a>
                                    </h4>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">

                                    <div class="panel-body">

                                        <div class="food-menu-wrapper">

                                            <div class="GridLex-gap-30">

                                                <div class="GridLex-grid-noGutter-equalHeight">

                                                    <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                                        <div class="food-menu-item no-image  clearfix">

                                                            <div class="content">

                                                                <h6><span>Beef Rissoles</span></h6>
                                                                <p>Fat new smallness few supposing suspicion. Own neglected you preferred way sincerity</p>

                                                                <div class="price">
                                                                    $6.43
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                                        <div class="food-menu-item no-image  clearfix">

                                                            <div class="content">

                                                                <h6><span>Golden Roast Potatoes</span></h6>
                                                                <p>Own neglected you preferred way sincerity delivered. Message cottage windows do besides against uncivil.</p>

                                                                <div class="price">
                                                                    $11.54
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                                        <div class="food-menu-item no-image  clearfix">

                                                            <div class="content">

                                                                <h6><span>Bacon and Beef Pasta Bake</span></h6>
                                                                <p>Meant to learn of vexed if style allow he there. Tiled man stand tears ten joy there terms any widen.</p>

                                                                <div class="price">
                                                                    $8.98
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                                        <div class="food-menu-item no-image  clearfix">

                                                            <div class="content">

                                                                <h6><span>Satay Chicken or Beef </span></h6>
                                                                <p>Fat new smallness few supposing suspicion. Own neglected you preferred way sincerity</p>

                                                                <div class="price">
                                                                    $6.43
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                                        <div class="food-menu-item no-image  clearfix">

                                                            <div class="content">

                                                                <h6><span>Dutch Indonesian Chicken</span></h6>
                                                                <p>Own neglected you preferred way sincerity delivered. Message cottage windows do besides against uncivil.</p>

                                                                <div class="price">
                                                                    $11.54
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                                        <div class="food-menu-item no-image  clearfix">

                                                            <div class="content">

                                                                <h6><span>Creamy Pasta Carbonara</span></h6>
                                                                <p>Meant to learn of vexed if style allow he there. Tiled man stand tears ten joy there terms any widen.</p>

                                                                <div class="price">
                                                                    $8.98
                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>
                            <!-- end of panel -->

                        </div>
                        <!-- end of #accordion -->

                    </div>

                    <div id="detail-content-sticky-nav-02" class="detail-content-section clearfix">

                        <div class="section-title-02">
                            <h3><span>Review</span></h3>
                        </div>

                        <div class="review-wrapper">

                            <div class="review-header">

                                <div class="GridLex-gap-30">

                                    <div class="GridLex-grid-middle">

                                        <div class="GridLex-col-4_sm-5_xs-12">

                                            <div class="average-score">

                                                <div class="progress-radial progress-radial-md progress-80">
                                                    <div class="overlay">
                                                        <div class="progress-radial-inner">
                                                            <div class="caption">

                                                                <p class="number">8.0</p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="texting">

                                                    <h6>Very good</h6>
                                                    <a href="#">(based on 10575 reviews)</a>

                                                </div>

                                            </div>

                                        </div>

                                        <div class="GridLex-col-8_sm-7_xs-12">

                                            <div class="item-score clearfix">

                                                <ul class="item-score-list">

                                                    <li>

                                                        <div class="progress-radial progress-radial-sm progress-80">
                                                            <div class="overlay">
                                                                <div class="progress-radial-inner">
                                                                    <div class="caption">

                                                                        <p class="number">8.0</p>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <p class="text-center">Quality of food</p>

                                                    </li>

                                                    <li>

                                                        <div class="progress-radial progress-radial-sm progress-80">
                                                            <div class="overlay">
                                                                <div class="progress-radial-inner">
                                                                    <div class="caption">

                                                                        <p class="number">8.0</p>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <p class="text-center">Level of service</p>

                                                    </li>

                                                    <li>

                                                        <div class="progress-radial progress-radial-sm progress-80">
                                                            <div class="overlay">
                                                                <div class="progress-radial-inner">
                                                                    <div class="caption">

                                                                        <p class="number">8.0</p>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <p class="text-center">Likely to recommend</p>

                                                    </li>

                                                    <li>

                                                        <div class="progress-radial progress-radial-sm progress-80">
                                                            <div class="overlay">
                                                                <div class="progress-radial-inner">
                                                                    <div class="caption">

                                                                        <p class="number">8.0</p>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <p class="text-center">Worth to eat</p>

                                                    </li>

                                                </ul>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>
                            @await Component.InvokeAsync("ThisPlaceReviews")

                            <div class="btn-wrappper">

                                <a href="restuarant-review.html" class="btn btn-primary">Read more full review</a>

                                <a href="restuarant-review.html#review-form" class="btn btn-primary">Write Your Review</a>

                            </div>

                        </div>

                        <div class="clear mb-15"></div>

                    </div>

                    @await Component.InvokeAsync("ThisPlacePhoto")
                    @await Component.InvokeAsync("ThisPlaceLocation")

                </div>

                <div class="multiple-sticky">
                    <div class="hidden">is used to stop multi-sticky</div>
                </div>

            </div>

            <div class="col-xs-12 col-sm-4 col-md-3">

                <div class="deal-sm clearfix mt-10">

                    <div class="deal-sm-inner">

                        <h5>Deals &amp; Offers</h5>
                        <p class="texting text-primary">30% of Total Bill</p>

                        <p class="text-underline mb-5">Terms and Conditions</p>
                        <ul>
                            <li>Necessary up knowledge it tolerably.</li>
                            <li>Unwilling departure education is be dashwoods.</li>
                            <li>Easy mind life fact with see has bore ten.</li>
                        </ul>

                        <p class="text-underline mb-5">Use when?</p>
                        <p class="text-primary font700">Mon - Sun 11:00 AM to 10:30 PM</p>

                    </div>

                </div>

                <div class="reserve-box mt-30">

                    <h5>Reserve your table</h5>

                    <div class="form-wrapper">

                        <form>

                            <div class="row">

                                <div class="col-xs-12 col-sm-12">

                                    <div class="input-group mb-15">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input type="text" placeholder="Full Name" class="form-control" />
                                    </div>

                                    <div class="input-group mb-15">
                                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                        <input type="email" placeholder="Email Address" class="form-control" />
                                    </div>

                                    <div class="input-group mb-15">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                        <input type="text" placeholder="Phone Number" class="form-control" />
                                    </div>

                                    <div class="input-group mb-15">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="text" placeholder="dd/mm/yyyy" class="form-control" />
                                    </div>

                                    <div class="row gap-15">

                                        <div class="col-xs-6 col-sm-6">

                                            <div class="input-group mb-15">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                                <input type="text" placeholder="hh-mm" class="form-control" />
                                            </div>

                                        </div>

                                        <div class="col-xs-6 col-sm-6">

                                            <div class="input-group mb-15">
                                                <span class="input-group-addon"><i class="fa fa-male"></i></span>
                                                <input type="text" placeholder="hh-mm" class="form-control" />
                                            </div>

                                        </div>

                                    </div>

                                    <div class="text-center">
                                        <button class="btn btn-primary btn-block">Reserve now</button>
                                    </div>

                                </div>

                            </div>

                        </form>

                    </div>

                </div>

                <div class="call-reserve-box mt-30">

                    <div class="icon">
                        <i class="ti-mobile"></i>
                    </div>

                    <div class="content">
                        <h5>Call for reservation</h5>
                        <p>Every day except Sunday from 10am to 8 pm</p>
                        <p class="phone-number">
                            <span class="font-italic text-muted">Reservation number: </span>
                            <span class="number">+66-85-658-8754</span>
                        </p>
                    </div>

                </div>

            </div>

        </div>

        @await  Component.InvokeAsync("YouMayAlsoLike")

    </div>

</div>
<!-- end Main Wrapper -->