<div id="detail-content-sticky-nav-03" class="detail-content-section clearfix">

    <div class="section-title-02">
        <h3><span>Photo</span></h3>
    </div>

    <div id="detail-food-photo"></div>

    <div class="clear mb-15"></div>
    
</div>

<form method="post" asp-action="Upload" asp-controller="Home" enctype="multipart/form-data">
    <div id="file-submit" class="dropzone">
        <input type="file">
        <div class="dz-default dz-message"><span>Загрузити ще..</span></div>
    </div>
</form>