@model FlexTemplate.ViewModels.AdminController.NewCategoryAliasViewModel
@if (Model != null && Model.Alias != null)
{
<div class="alias" dataId="@Model.Alias.Id">
    <input class="form-control" type="text" value="@Model.Alias.Text">
    <select class="custom-select languages new">
        @foreach (var lang in Model.Languages)
        {
            <option dataId="@lang.Id">@lang.ShortName</option>
        }
    </select>
    <button class="btn btn-primary btn-form admin-button-alias-remove">Remove alias</button>
</div>
}			 	