<div id="detail-content-sticky-nav-01" class="detail-content-section clearfix">

    <div class="section-title-02">
        <h3><span>Menu</span></h3>
    </div>

    <div class="panel-group bootstarp-accordion pb-0 mt-0 pb-0 mb-0" id="accordion" role="tablist" aria-multiselectable="true">

        <div class="panel">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Breakfase</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">

                <div class="panel-body">

                    <div class="food-menu-wrapper">

                        <div class="GridLex-gap-30">

                            <div class="GridLex-grid-noGutter-equalHeight">

                                <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                    <div class="food-menu-item clearfix">

                                        <div class="image">
                                            <img src="images/item-sq/01.jpg" alt="image" />
                                        </div>

                                        <div class="content">

                                            <h6><span>Beef Rissoles</span></h6>
                                            <p>Fat new smallness few supposing suspicion. Own neglected you preferred way sincerity.</p>

                                            <div class="price">
                                                $6.43
                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                    <div class="food-menu-item clearfix">

                                        <div class="image">
                                            <img src="images/item-sq/02.jpg" alt="image" />
                                        </div>

                                        <div class="content">

                                            <h6><span>Golden Roast Potatoes</span></h6>
                                            <p>Own neglected you preferred way sincerity delivered. Message cottage windows do besides.</p>

                                            <div class="price">
                                                $11.54
                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                    <div class="food-menu-item clearfix">

                                        <div class="image">
                                            <img src="images/item-sq/03.jpg" alt="image" />
                                        </div>

                                        <div class="content">

                                            <h6><span>Bacon and Beef Pasta Bake</span></h6>
                                            <p>Meant to learn of vexed if style allow he there. Tiled man stand tears ten joy there terms any widen.</p>

                                            <div class="price">
                                                $8.98
                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                    <div class="food-menu-item clearfix">

                                        <div class="image">
                                            <img src="images/item-sq/04.jpg" alt="image" />
                                        </div>

                                        <div class="content">

                                            <h6><span>Satay Chicken or Beef </span></h6>
                                            <p>Fat new smallness few supposing suspicion. Own neglected you preferred way sincerity</p>

                                            <div class="price">
                                                $6.43
                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                    <div class="food-menu-item clearfix">

                                        <div class="image">
                                            <img src="images/item-sq/05.jpg" alt="image" />
                                        </div>

                                        <div class="content">

                                            <h6><span>Dutch Indonesian Chicken</span></h6>
                                            <p>Own neglected you preferred way sincerity delivered. Message cottage windows do besides against uncivil.</p>

                                            <div class="price">
                                                $11.54
                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                    <div class="food-menu-item clearfix">

                                        <div class="image">
                                            <img src="images/item-sq/06.jpg" alt="image" />
                                        </div>

                                        <div class="content">

                                            <h6><span>Creamy Pasta Carbonara</span></h6>
                                            <p>Meant to learn of vexed if style allow he there. Tiled man stand tears ten joy there terms any widen.</p>

                                            <div class="price">
                                                $8.98
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
        <!-- end of panel -->

        <div class="panel">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Lunch</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">

                <div class="panel-body">

                    <div class="food-menu-wrapper">

                        <div class="GridLex-gap-30">

                            <div class="GridLex-grid-noGutter-equalHeight">

                                <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                    <div class="food-menu-item clearfix">

                                        <div class="image">
                                            <img src="images/item-sq/04.jpg" alt="image" />
                                        </div>

                                        <div class="content">

                                            <h6><span>Satay Chicken or Beef </span></h6>
                                            <p>Fat new smallness few supposing suspicion. Own neglected you preferred way sincerity</p>

                                            <div class="price">
                                                $6.43
                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                    <div class="food-menu-item clearfix">

                                        <div class="image">
                                            <img src="images/item-sq/05.jpg" alt="image" />
                                        </div>

                                        <div class="content">

                                            <h6><span>Dutch Indonesian Chicken</span></h6>
                                            <p>Own neglected you preferred way sincerity delivered. Message cottage windows do besides against uncivil.</p>

                                            <div class="price">
                                                $11.54
                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                    <div class="food-menu-item clearfix">

                                        <div class="image">
                                            <img src="images/item-sq/06.jpg" alt="image" />
                                        </div>

                                        <div class="content">

                                            <h6><span>Creamy Pasta Carbonara</span></h6>
                                            <p>Meant to learn of vexed if style allow he there. Tiled man stand tears ten joy there terms any widen.</p>

                                            <div class="price">
                                                $8.98
                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                    <div class="food-menu-item clearfix">

                                        <div class="image">
                                            <img src="images/item-sq/01.jpg" alt="image" />
                                        </div>

                                        <div class="content">

                                            <h6><span>Beef Rissoles</span></h6>
                                            <p>Fat new smallness few supposing suspicion. Own neglected you preferred way sincerity.</p>

                                            <div class="price">
                                                $6.43
                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                    <div class="food-menu-item clearfix">

                                        <div class="image">
                                            <img src="images/item-sq/02.jpg" alt="image" />
                                        </div>

                                        <div class="content">

                                            <h6><span>Golden Roast Potatoes</span></h6>
                                            <p>Own neglected you preferred way sincerity delivered. Message cottage windows do besides.</p>

                                            <div class="price">
                                                $11.54
                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                    <div class="food-menu-item clearfix">

                                        <div class="image">
                                            <img src="images/item-sq/03.jpg" alt="image" />
                                        </div>

                                        <div class="content">

                                            <h6><span>Bacon and Beef Pasta Bake</span></h6>
                                            <p>Meant to learn of vexed if style allow he there. Tiled man stand tears ten joy there terms any widen.</p>

                                            <div class="price">
                                                $8.98
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
        <!-- end of panel -->

        <div class="panel">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Dinner</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">

                <div class="panel-body">

                    <div class="food-menu-wrapper">

                        <div class="GridLex-gap-30">

                            <div class="GridLex-grid-noGutter-equalHeight">

                                <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                    <div class="food-menu-item no-image clearfix">

                                        <div class="content">

                                            <h6><span>Satay Chicken or Beef </span></h6>
                                            <p>Fat new smallness few supposing suspicion. Own neglected you preferred way sincerity</p>

                                            <div class="price">
                                                $6.43
                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                    <div class="food-menu-item no-image clearfix">

                                        <div class="content">

                                            <h6><span>Dutch Indonesian Chicken</span></h6>
                                            <p>Own neglected you preferred way sincerity delivered. Message cottage windows do besides against uncivil.</p>

                                            <div class="price">
                                                $11.54
                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                    <div class="food-menu-item no-image clearfix">

                                        <div class="content">

                                            <h6><span>Creamy Pasta Carbonara</span></h6>
                                            <p>Meant to learn of vexed if style allow he there. Tiled man stand tears ten joy there terms any widen.</p>

                                            <div class="price">
                                                $8.98
                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                    <div class="food-menu-item no-image clearfix">

                                        <div class="content">

                                            <h6><span>Beef Rissoles</span></h6>
                                            <p>Fat new smallness few supposing suspicion. Own neglected you preferred way sincerity</p>

                                            <div class="price">
                                                $6.43
                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                    <div class="food-menu-item no-image clearfix">

                                        <div class="content">

                                            <h6><span>Golden Roast Potatoes</span></h6>
                                            <p>Own neglected you preferred way sincerity delivered. Message cottage windows do besides against uncivil.</p>

                                            <div class="price">
                                                $11.54
                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                    <div class="food-menu-item no-image clearfix">

                                        <div class="content">

                                            <h6><span>Bacon and Beef Pasta Bake</span></h6>
                                            <p>Meant to learn of vexed if style allow he there. Tiled man stand tears ten joy there terms any widen.</p>

                                            <div class="price">
                                                $8.98
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
        <!-- end of panel -->

        <div class="panel">
            <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Drinks</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">

                <div class="panel-body">

                    <div class="food-menu-wrapper">

                        <div class="GridLex-gap-30">

                            <div class="GridLex-grid-noGutter-equalHeight">

                                <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                    <div class="food-menu-item clearfix">

                                        <div class="image">
                                            <img src="images/item-sq/01.jpg" alt="image" />
                                        </div>

                                        <div class="content">

                                            <h6><span>Beef Rissoles</span></h6>
                                            <p>Fat new smallness few supposing suspicion. Own neglected you preferred way sincerity.</p>

                                            <div class="price">
                                                $6.43
                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                    <div class="food-menu-item clearfix">

                                        <div class="image">
                                            <img src="images/item-sq/02.jpg" alt="image" />
                                        </div>

                                        <div class="content">

                                            <h6><span>Golden Roast Potatoes</span></h6>
                                            <p>Own neglected you preferred way sincerity delivered. Message cottage windows do besides.</p>

                                            <div class="price">
                                                $11.54
                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                    <div class="food-menu-item clearfix">

                                        <div class="image">
                                            <img src="images/item-sq/03.jpg" alt="image" />
                                        </div>

                                        <div class="content">

                                            <h6><span>Bacon and Beef Pasta Bake</span></h6>
                                            <p>Meant to learn of vexed if style allow he there. Tiled man stand tears ten joy there terms any widen.</p>

                                            <div class="price">
                                                $8.98
                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                    <div class="food-menu-item clearfix">

                                        <div class="image">
                                            <img src="images/item-sq/04.jpg" alt="image" />
                                        </div>

                                        <div class="content">

                                            <h6><span>Satay Chicken or Beef </span></h6>
                                            <p>Fat new smallness few supposing suspicion. Own neglected you preferred way sincerity</p>

                                            <div class="price">
                                                $6.43
                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                    <div class="food-menu-item clearfix">

                                        <div class="image">
                                            <img src="images/item-sq/05.jpg" alt="image" />
                                        </div>

                                        <div class="content">

                                            <h6><span>Dutch Indonesian Chicken</span></h6>
                                            <p>Own neglected you preferred way sincerity delivered. Message cottage windows do besides against uncivil.</p>

                                            <div class="price">
                                                $11.54
                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                    <div class="food-menu-item clearfix">

                                        <div class="image">
                                            <img src="images/item-sq/06.jpg" alt="image" />
                                        </div>

                                        <div class="content">

                                            <h6><span>Creamy Pasta Carbonara</span></h6>
                                            <p>Meant to learn of vexed if style allow he there. Tiled man stand tears ten joy there terms any widen.</p>

                                            <div class="price">
                                                $8.98
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
        <!-- end of panel -->

        <div class="panel">
            <div class="panel-heading" role="tab" id="headingFive">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">dessert &amp; snack</a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">

                <div class="panel-body">

                    <div class="food-menu-wrapper">

                        <div class="GridLex-gap-30">

                            <div class="GridLex-grid-noGutter-equalHeight">

                                <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                    <div class="food-menu-item no-image  clearfix">

                                        <div class="content">

                                            <h6><span>Beef Rissoles</span></h6>
                                            <p>Fat new smallness few supposing suspicion. Own neglected you preferred way sincerity</p>

                                            <div class="price">
                                                $6.43
                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                    <div class="food-menu-item no-image  clearfix">

                                        <div class="content">

                                            <h6><span>Golden Roast Potatoes</span></h6>
                                            <p>Own neglected you preferred way sincerity delivered. Message cottage windows do besides against uncivil.</p>

                                            <div class="price">
                                                $11.54
                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                    <div class="food-menu-item no-image  clearfix">

                                        <div class="content">

                                            <h6><span>Bacon and Beef Pasta Bake</span></h6>
                                            <p>Meant to learn of vexed if style allow he there. Tiled man stand tears ten joy there terms any widen.</p>

                                            <div class="price">
                                                $8.98
                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                    <div class="food-menu-item no-image  clearfix">

                                        <div class="content">

                                            <h6><span>Satay Chicken or Beef </span></h6>
                                            <p>Fat new smallness few supposing suspicion. Own neglected you preferred way sincerity</p>

                                            <div class="price">
                                                $6.43
                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                    <div class="food-menu-item no-image  clearfix">

                                        <div class="content">

                                            <h6><span>Dutch Indonesian Chicken</span></h6>
                                            <p>Own neglected you preferred way sincerity delivered. Message cottage windows do besides against uncivil.</p>

                                            <div class="price">
                                                $11.54
                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                    <div class="food-menu-item no-image  clearfix">

                                        <div class="content">

                                            <h6><span>Creamy Pasta Carbonara</span></h6>
                                            <p>Meant to learn of vexed if style allow he there. Tiled man stand tears ten joy there terms any widen.</p>

                                            <div class="price">
                                                $8.98
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
        <!-- end of panel -->

    </div>
    <!-- end of #accordion -->

</div>